{% extends "core/base.html" %}
{% load static %}
{% block content %}

<div class="container emp-profile">

    <div class="row">
        <div class="col-md-3">
            <img src="{% static 'img/logo.jpg'%}" alt="" width="50%">
            <h6 class="text-muted p-1"> TRR Student Details</h6>

        </div>
        <div class="col-md-6">
            <div class="profile-head">
            </div>
        </div>
        <div class="col-md-3">
            <a target="_blank" class="scan" href="{% url 'details' %}"><input type="submit" class="profile-edit-btn m-2"
                    name="btnAddMore" value="Run Scanner" /></a>
            <a   href="{% url 'profiles' %}"><input type="submit" class="profile-edit-btn m-2 "
                        name="btnAddMore" value="Profiles" /></a>
        </div>
    </div>
    <hr>



</div>
<script>
    $(".scan").click(function () {
        var postData = { csrfmiddlewaretoken: '{{ csrf_token }}' }
        $.ajax({
            url: "{% url 'scan' %}",
            data: {

            },
        });
    });
</script>

{% endblock content %}